/* ---- Layout Containers ---- */

h3 {
@extend %centered;
}

p.introduction {
	@extend %justified;
	padding: 2%;
    color:$color-text-intro;

}
.portfolio {
	background: $color-container;
	display: inline-block;
}
.portfolio-title {
	@extend %centered;
}

.p {
	@extend %justified;
}
p.contact {
		@extend %justified;
    padding:10%;
}
p.phone {
	@extend %centered;
}
p.e-mail {
	@extend %centered;
}
