
/*Base Layout Styles*/

.main-header {
 @extend %centered;
}


/* ---- Navigation ---- */

.main-nav {

  &-nav li {
  	background: $color-navigation ;
    margin: 5px;
  	list-style: none;
  	max-width: 90%;
 }


  &-nav a {
  	color: $color-link-default ;
  	text-transform: uppercase;
  }
  &-nav a:hover {
  	color: $color-link-default ;
}
}

.name a {
  @include text(25px,$weight: bold, $color: $color-text-default) ;
   margin: 0;
}

.name a,.main-nav {
	@extend %headercontent;
}
