 /* Base Element Styles */
* {
	box-sizing: border-box;
}
body {
	font-family: 'Alice', serif;
	line-height: 1.5;
	color: #000;
	background-color: #ceede1;
}

/*Links*/

	a {

		&:link {

			text-decoration: none;
			font-size: 18px;
		}
		/* Unvisited Links */
		&:link {
			color: black;
		}
		/* Visited Links */
		&:visited {
			color: coral;
		}
		/* Selected Links */
		&:active {
			color: cadetblue;
		}

			}
